[alias]
	ci = commit -s
	co = checkout
	st = status
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[push]
	default = simple
[trailer]
	ifexists = addIfDifferent
